.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-image-1 {
  width: 199px;
  height: 199px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -36px 416px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 678px;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-1 {
  min-height: 522px;
  width: 964px;
  margin: 28px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 316px;
    margin-right: 316px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 206px;
    margin-right: 206px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 116px;
    margin-right: 116px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 123px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 37px auto;
  padding: 12px 84px 13px 82px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.7em;
}