.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-text-1 {
  margin: 69px 456px 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 265px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 30px auto 0;
  padding: 7px 52px 8px;
}

.u-section-1 .u-text-3 {
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 356px;
    margin-left: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 165px;
    margin-left: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 246px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 55px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 156px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 56px;
    margin-left: 56px;
  }
}